.page {
  padding-bottom: 40px;
}

.line {
  width: 100%;
  border-bottom: 1px solid black;
}

.bold {
  margin-right: 5px;
  font-weight: 600;
}


/* ------------------------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 764px) {
  .page {
    padding-top: 20px;
  }
}